<% content_for :head do %>

<script>
  $(function() {
     eip_initialize();
  });
</script>

<% end %>

<h1>Workstream: <%= @workstream.name %> </h1>
<% if not @workstream.root? %>
<%= link_to "Return to parent", @workstream.parent %>
<% end %>
<% if @workstream.parent? %>
<p>Substreams:</p>
<% @workstream.children.each do |c| %>
<p><%= link_to c.name, c %></p>
<% end %>
<% end %>
<h3>Goals</h3>
<p>
  <%= link_to "Refresh", api_goal_table_path(@workstream), :remote => true %>
  <% if policy(@workstream).modifygoals? %>
  | <%= link_to "Add goal", new_workstream_goal_path(@workstream) %>
  <% end %>
</p>
<% if @workstream.goals.count > 0 %>
<div id='goalslist'>
<%= render partial: "goals/goal_table", locals: { gls: @workstream.ordered_goals.select { |g| !g.achieved },
                                                  acs: @actions,
                                                  id:  "goalstable" } %>
</div>
<h3>Completed Goals</h3>
<div id='completedgoalslist'>
<%= render partial: "goals/completed_goal_table", locals: { gls: @workstream.completed_goals,
                                                  acs: [],
                                                  id:  "completedgoalstable" } %>
</div>

<% end %>
