<h1>Workstreams#show</h1>
<h2><%= @workstream.name %></h2>
<% if not @workstream.root? %>
<%= link_to "Return to parent", @workstream.parent %>
<% end %>
<% if @workstream.parent? %>
<p>Substreams:</p>
<% @workstream.children.each do |c| %>
<p><%= link_to c.name, c %></p>
<% end %>
<% end %>
<p>Goals</p>
<% if policy(@workstream).modifygoals? %>
<p><%= link_to "Add goal", new_workstream_goal_path(@workstream) %></p>
<% end %>
<% if @workstream.goals.count > 0 %>
<% @workstream.goals.each do |g| %>
<%= g.name %><br/>
<% end %>
<% end %>
