<h1>Workstream: <%= @workstream.name %> </h1>
<% if not @workstream.root? %>
<%= link_to "Return to parent", @workstream.parent %>
<% end %>
<% if @workstream.parent? %>
<p>Substreams:</p>
<% @workstream.children.each do |c| %>
<p><%= link_to c.name, c %></p>
<% end %>
<% end %>
<p>Goals</p>
<% if policy(@workstream).modifygoals? %>
<p><%= link_to "Add goal", new_workstream_goal_path(@workstream) %></p>
<% end %>
<% if @workstream.goals.count > 0 %>
<table class="goaltable">
<% (@workstream.ordered_goals.select { |gl| !gl.achieved }).each do |g| %>
<tr id='<%= "goalid_#{g.id}" %>'>
  <td><%= "#{g.name}" %></td>
  <td><%= "#{g.due_days.abs} day#{g.due_days.abs>1?"s":""} #{g.due_days<0?"ago":"remaining"}" %></td>
  <td><%= link_to "Delete", g, :method => :delete, :action => :destroy, :remote => true %></td>
</tr>
<% end %>
</table>
<% end %>
