<h2>
  <table>
    <tr>
      <% if @goal.achieved %>
      <%= image_tag "trophy.png" %>
      <% else
         if @goal.late? %>
      <%= image_tag "ex.png" %>
      <% end; end %>
    </tr>
    <tr><%= @goal.name %></tr>
  </table>
</h2>
<p>Goal in workstream <em><%= link_to @goal.workstream.name, @goal.workstream %></em></p>
<p>Target date: <%= @goal.target %></p>
<table>
  <tr>
    <td><img src='/di/test_<%= @goal.percentage_time %>.png'/></td>
    <td><%= "#{@goal.due_days.abs} day#{@goal.due_days.abs>1?"s":""} #{@goal.due_days<0?"ago!":"remaining"}" %></td>
  </tr>
</table>
<% if @goal.goalcomment.count > 0 %>
<h3>Comments</h3>
<%= link_to "Refresh", api_goalcomments_table_path(@goal), :remote => true %>
<div id='goalcomments'>
  <%= render partial: "goalcomments/goalcomments_table", locals: { comments: @goal.goalcomment }  %>
</div>
<% end %>

