<!DOCTYPE html>
<html>

  <head>
    <title><%= StreamsMeta::APPLICATION_NAME %></title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <%= yield :head %>
  </head>
  <body>

    <!-- >>>>>>>>>>>>>>>>>>>>>>>>> HEADER CONTENT SECTION >>>>>>>>>>>>>>>>>>>>>> -->
    <div id='header'>

      <div id='logo'>
	<%= image_tag "logo.jpg" %>
	</div>

      <div id='nav'>

	<!-- Navigation links -->
	<%= link_to "Home", root_path %> |

	<!-- Login status -->
	  <% if @current_user %>
	     You are logged in as <b><%= @current_user.name %>.</b>
	     <%= link_to "Log out", :controller => 'sessions', :action => 'logout' %>
	  <% else %>
	     <%= link_to "Log in", :controller => 'sessions', :action => 'login' %>
	  <% end %>
      </div><hr/>
      <div id='msg' class='success'>
	Your request was successfully processed
      </div>
    </div> <!-- End of Header -->

    <!-- >>>>>>>>>>>>>>>>>>>>>>>>> MAIN CONTENT SECTION >>>>>>>>>>>>>>>>>>>>>>>> -->    
    <div id='main'>
      
      <div id='sidebar' height=100%>
	<p>Let's have a sidebar conversation. How are you doing today?</p>
      </div>

      <div id='pane'>
	<%= yield %>
      </div>

    </div> <!-- End of Main -->


    <!-- >>>>>>>>>>>>>>>>>>>>>>>>> FOOTER CONTENT SECTION >>>>>>>>>>>>>>>>>>>>>> -->    
    <div id='footer'>
      <hr/>
      &copy; Bradshaw Enterprises 2015
    </div>

  </body>
</html>
