<!DOCTYPE html>
<html>

  <head>
    <title><%= StreamsMeta::APPLICATION_NAME %></title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <%= yield :head %>
  </head>
  <body>

    <!-- >>>>>>>>>>>>>>>>>>>>>>>>> HEADER CONTENT SECTION >>>>>>>>>>>>>>>>>>>>>> -->
    <div id='header'>
      <%= render file: "app/views/layouts/default_header" %>
    </div>

    <!-- >>>>>>>>>>>>>>>>>>>>>>>>> MAIN CONTENT SECTION >>>>>>>>>>>>>>>>>>>>>>>> -->    
    <div id='main'>
      <%= render file: "app/views/layouts/default_main" %>      
    </div>

    <!-- >>>>>>>>>>>>>>>>>>>>>>>>> FOOTER CONTENT SECTION >>>>>>>>>>>>>>>>>>>>>> -->    
    <div id='footer'>
      <%= render file: "app/views/layouts/default_footer" %>
    </div>

  </body>
</html>
