<% if flash[:messages] && flash[:messages]["messages"].count > 0 %>
<% content_for :messages do %>
<% @hdrmsg = StreamsMsg.new flash[:messages]["messages"], flash[:messages]["severity"] %>
<% @tag=@hdrmsg.tag %>
<% @hdrmsg.each do |m| %>
<%= m %>
<% end %>
<% end %>
<% else %>
<% @tag=nil %>
<% end %>

<div id='logo'>
  <%= image_tag "logo.jpg" %>
</div>

<div id='nav'>
  
  <!-- Navigation links -->
  <%= link_to "Home", root_path %> |
  
  <!-- Login status -->
  <% if @current_user %>
  You are logged in as <b><%= @current_user.name %>.</b>
  <%= link_to "Log out", :controller => 'sessions', :action => 'logout' %>
  <% else %>
  <%= link_to "Log in", :controller => 'sessions', :action => 'login' %>
  <% end %>
</div><hr/>
<%= render partial: "messages", locals: { :tag => @tag }  %>
