<% if @fmessages.count > 0 %>
<% content_for :messages do %>
<% @tag=@fmessages.tag %>
<ul>
<% @fmessages.each do |m| %>
<li><%= m %></li>
<% end %>
</ul>
<% end %>
<% else %>
<% @tag=nil %>
<% end %>

<div id='logo'>
  <%= image_tag "logo.jpg" %>
</div>

<div id='nav'>
  
  <!-- Navigation links -->
  <%= link_to "Home", root_path %> |
  
  <!-- Login status -->
  <% if @current_user %>
  You are logged in as <b><%= @current_user.name %>.</b>
  <%= link_to "Log out", :controller => 'sessions', :action => 'logout' %>
  <% else %>
  <%= link_to "Log in", :controller => 'sessions', :action => 'login' %>
  <% end %>
</div><hr/>
<%= render partial: "messages", locals: { :tag => @tag }  %>
